@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Varela+Round&display=swap");

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
:root {
    --ff-accent: "Varela Round", sans-serif;
    --ff-accent: "Kanit", sans-serif;

    --gray-100: rgb(215, 215, 215);
    --gray-700: rgb(55, 55, 55);

    --red-700: #d63e3e;
    --red-500: #e64343;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
